<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label><br>
        <input class="form-control" type="text" name="postTitle"><br>
        <label>Post</label><br>
        <textarea class="form-control" name="postContent" cols="40" rows="5"></textarea><br>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>